<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('index') }}">
            <img src="{{ asset('img/skateboard.png') }}"
                 alt="Logo"
                 width="35"
                 height="35"
                 class="align-text-bottom">
            <span class="h4">GeoSport</span>
        </a>
        <div>
            {% if app.user %}
                <a href="#" class="btn btn-link">{{ app.user.username | capitalize }}</a>
                <a href="{{ path('app_logout') }}" class="btn btn-danger">Cerrar sesión</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-outline-primary">Iniciar sesión</a>
                <a href="{{ path('app_register') }}" class="btn btn-outline-secondary">Registrarse</a>
            {% endif %}
        </div>
    </div>
</nav>
