<nav class="navbar navbar-light bg-light navbar-expand sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('index') }}">
            <img src="{{ asset('img/skateboard.png') }}" alt="Logo" width="35" height="35" class="align-text-bottom">
            <span class="h4">GeoSport</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <div class="dropdown">
                            <img src="{{ asset(app.user.foto) }}" alt="Profile Picture"
                                 class="rounded-circle dropdowm-toggle align-text-bottom" id="userNavbar"
                                 width="35" height="35"
                                 data-bs-toggle="dropdown" aria-expanded="false">
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userNavbar">
                                <li class="text-center">{{ app.user.username | capitalize }}</li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                {% if app.user.admin %}
                                    <li>
                                        <a href="{{ path('revision') }}" class="text-success dropdown-item">
                                            Revisar Spots</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ app.user.verified ? path('user_settings') : '#' }}"
                                       class="dropdown-item {{ not app.user.verified ? 'disabled' }}">
                                        Configuración
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('app_logout') }}" class="text-danger dropdown-item">
                                        Cerrar sesión
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="btn btn-outline-primary">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_register') }}" class="btn btn-outline-secondary">Registrarse</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
