<nav class="navbar navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('index') }}">
            <img src="{{ asset('img/skateboard.png') }}"
                 alt="Logo"
                 width="35"
                 height="35"
                 class="align-text-bottom">
            <span class="h4">GeoSport</span>
        </a>

        <div>
            {% if app.user %}
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <a href="{{ path('revision') }}" class="btn btn-link text-success">Revisar Spots</a>
                {% endif %}
                {% if app.user.verified %}
                    <a href="{{ path('user_settings') }}" class="btn btn-link">{{ app.user.username | capitalize }}</a>
                {% else %}
                    <a href="#" class="btn btn-link text-dark">{{ app.user.username | capitalize }}</a>
                {% endif %}
                <a href="{{ path('app_logout') }}" class="btn btn-danger">Cerrar sesión</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-outline-primary">Iniciar sesión</a>
                <a href="{{ path('app_register') }}" class="btn btn-outline-secondary">Registrarse</a>
            {% endif %}
        </div>
    </div>
</nav>
