{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block body %}
    {# CABECERA #}
    <header>
        <div id="imgHeader" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#imgHeader" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#imgHeader" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                {% for deporte in deportes %}
                    <div class="carousel-item {{ loop.first ? 'active' }}">
                        <a href="{{ path('spots', { 'deporte': deporte.nombre }) }}">
                            <img src="{{ asset('img/'~ deporte.nombre ~'_header.jpg') }}" class="d-block w-100" alt="">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ deporte.nombre|capitalize }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imgHeader"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imgHeader"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </header>

    {# CUADRO DE BÚSQUEDA #}
    <div id="busqueda" class="container text-center my-5">
        <h3 class="my-5">Buscar por región</h3>
        <form>
            <div class="d-flex my-3">
                <input id="buscarRegion" class="form-control me-2" type="search" placeholder="Búsqueda"
                       aria-label="Search"
                       autocomplete="off">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </div>
            {% for deporte in deportes %}
                <div class="form-check d-inline-block mx-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="buscarDeporte" {{ loop.first ? 'checked' }}>
                        {{ deporte.nombre|capitalize }}
                    </label>
                </div>
            {% endfor %}
        </form>
    </div>

    {# SPOTS POPULARES #}
    <div id="popular" class="container my-5">
        <h3 class="my-5 text-center">Spots populares <span id="deporteSeleccionado"></span></h3>
        <div class="row">
            <div class="col-md-4 p-4 border">
                <h5>Filtrar por</h5>
                {% for deporte in deportes %}
                    <div class="form-check my-2">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="filtrarDeporte"
                                   value="{{ deporte.nombre }}" id="{{ deporte.nombre }}" {{ loop.first ? 'checked' }}>
                            {{ deporte.nombre|capitalize }}
                        </label>
                    </div>
                {% endfor %}
                <label for="orden">Ordenar por: </label>
                <select id="orden" class="form-select">
                    <option>Valoración</option>
                    <option>Recientes</option>
                </select>
                <button class="btn btn-primary my-4 w-100">Filtrar</button>
                <div id="loading" class="text-center"><i class="fas fa-spinner"></i> Cargando...</div>
            </div>
            <div class="col-md-8">
                <ol>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        // READY //
        $(document).ready(function () {
            filtrarSpots();
            autocomplete();

            $('#popular button').click(function () {
                filtrarSpots()
            });
        })

        // FUNCIONES //
        function autocomplete() {
            var ciudades = JSON.parse('{{ provincias|json_encode|raw }}');

            var accentMap = {
                'á': 'a',
                'é': 'e',
                'í': 'i',
                'ó': 'o',
                'ú': 'u'
            };
            var normalize = function (term) {
                var ret = '';
                for (var i = 0; i < term.length; i++) {
                    ret += accentMap[term.charAt(i)] || term.charAt(i);
                }
                return ret;
            };

            $('#buscarRegion').autocomplete({
                source: function (request, response) {
                    var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), 'i');
                    response($.grep(ciudades, function (value) {
                        value = value.label || value.value || value;
                        return matcher.test(value) || matcher.test(normalize(value));
                    }));
                }
            });
        }

        function filtrarSpots() {
            let bestSpots = $('#popular ol');
            let loading = $('#loading');
            let deporte = $('input[name="filtrarDeporte"]:checked').val();

            $.ajax({
                type: 'POST',
                url: '{{ path('filtrar_spots') }}',
                data: {'deporte': deporte},
                beforeSend: function () {
                    loading.show();
                }
            }).done(function (spots) {
                $('#deporteSeleccionado').text('(' + deporte + ')');
                bestSpots.empty();
                loading.hide();
                spots.forEach(function (spot) {
                    let url = '{{ path('spot_view', {'deporte': 'deporte', 'id': 'id'}) }}';
                    url = url.replace('deporte', deporte).replace('id', spot.id);
                    bestSpots.append(`
                        <li class="my-2">
                            <a href="${url}">
                                <b>${spot.nombre}</b>
                            </a>
                            ------------>
                            (${spot.notaMedia})
                            <br>
                            (${spot.provincia}) - por ${spot.user}
                            </li>
                    `);
                })
            });
        }
    </script>
{% endblock %}
