{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container my-4">
        <h2 class="text-center">Registro</h2>

        <div class="row justify-content-center">
            <div class="col-lg-6 p-5 my-4 border shadow">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email, {
                    label: 'Correo electrónico'
                }) }}
                {{ form_row(registrationForm.username, {
                    label: 'Nombre de usuario'
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Contraseña'
                }) }}
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'Acepto los términos y condiciones'
                }) }}

                <button type="submit" class="btn btn-success my-2">Registrarse</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
