<div class="tab-pane fade {% if not paneSpots and not paneDeporte %}active show{% endif %}" id="account-general" role="tabpanel">

    <div class="card-body media align-items-center">
        <div class="d-flex align-items-center">
            <img src="{{ asset(app.user.foto) }}" alt="Foto de perfil"
                 class="d-block ui-w-80 mb-2">
            <p class="filename ms-2 text-secondary"></p>
        </div>
        <div class="media-body ml-4">
            <label class="btn btn-outline-primary">
                Nueva foto
                <input type="file" name="foto" class="account-settings-fileinput">
            </label> &nbsp;
            {% if app.user.hasFoto() %}
                <a href="{{ path('eliminaFoto') }}" class="btn btn-default md-btn-flat">Eliminar</a>
            {% endif %}

            <div class="text-light small mt-1">
                Formatos permitidos: JPG, JPEG o PNG.
            </div>
        </div>
    </div>
    <hr class="border-light m-0">

    <div class="card-body">
        <div class="form-group">
            <label class="form-label" for="username">Nombre de usuario</label>
            <input id="username" name="username" type="text" class="form-control mb-1"
                   value="{{ app.user.username }}">
        </div>
        <div class="form-group">
            <label class="form-label" for="email">Correo electrónico</label>
            <input id="email" type="email" name="email" class="form-control mb-1" value="{{ app.user.email }}">
        </div>

        <div class="row mt-3">
            <div class="col-sm-6">
            <p>Rol actual:
                <span class="text-primary fw-bold">
                {% if app.user.admin %}
                    ADMIN
                    {% set info = "Administrador del sistema" %}
                {% elseif app.user.moderador %}
                    MODERADOR
                    {% set info = "Permisos para revisar (aceptar o rechazar) spots" %}
                {% else %}
                    USUARIO
                    {% set info = "Usuario estándar. Tras realizar varias interacciones en la web ascenderá a moderador" %}
                {% endif %}
            </span>
                <i tabindex="0" class="fas fa-info-circle" role="button" data-bs-container="body"
                   data-bs-toggle="popover"
                   data-bs-trigger="focus" data-bs-placement="right" title="Roles de usuario"
                   data-bs-content="{{ info }}"></i>
            </p>
            </div>
            <div class="col-sm-6">
                <p>Valoraciones totales: {{ app.user.valoraciones.count }}</p>
            </div>
        </div>
    </div>

</div>

<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl);
    });

</script>