{% extends 'base.html.twig' %}
{% from 'comunes/_paginacion.html.twig' import paginar %}

{% block stylesheets %}
    <style>
        [id^=mapid] {
            height: 100px;
            z-index: 1;
        }
    </style>
{% endblock %}

{% block title %}
    {% if provincia %}
        {{ provincia.nombre }}
    {% else %}
        {{ deporte.nombre|capitalize }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container my-4">
        <p class="mb-2">
            <a class="text-decoration-none fw-bold" href="javascript:history.back()">
                <i class="fas fa-arrow-left"></i>
                Volver
            </a>
        </p>
        <h2>
            {% if provincia %}
                {{ deporte.nombre|capitalize }} en {{ provincia.nombre }}
            {% else %}
                {{ deporte.nombre|capitalize }}
            {% endif %}
        </h2>

        {% if spots|length > 0 %}
            <hr class="bg-dark">

            <div class="row">
                <div id="filtro" class="col-md-4 col-lg-3 border">
                    <h6 class="mt-2">Opciones:</h6>
                    {% if app.user and app.user.verified %}
                        {% if provincia is defined and provincia %}
                            <a href="{{ path('dep_prov_spot_new', {'deporte': deporte.nombre, 'provincia': provincia.nombre}) }}"
                        {% else %}
                            <a href="{{ path('dep_spot_new', {'deporte': deporte.nombre}) }}"
                        {% endif %}
                        class="btn btn-primary my-2 w-100">
                            <i class="fas fa-map-marker-alt"></i> Añadir nuevo spot
                        </a>
                    {% endif %}
                    {% if provincia is defined and provincia %}
                    <a href="{{ path('mapa_prov', {'deporte': deporte.nombre, 'provincia': provincia.nombre}) }}"
                    {% else %}
                    <a href="{{ path('mapa', {'deporte': deporte.nombre}) }}"
                            {% endif %}
                       class="btn btn-outline-primary my-2 w-100 bg-light"><i class="fas fa-map-marked-alt"></i> Ver
                        mapa</a>

                    <h6 class="mt-2">Ver spots:</h6>
                    <div class="my-2 list-group">
                        <a class="list-group-item {{ order == 'notaMedia' ? 'active' }}"
                                {% if provincia is defined and provincia %}
                           href="{{ path('spots_prov', {'deporte': deporte.nombre, 'provincia': provincia.nombre ,'order': 'notaMedia'}) }}">
                            {% else %}
                                href="{{ path('spots', {'deporte': deporte.nombre, 'order': 'notaMedia'}) }}">
                            {% endif %}
                            Mejor valorados</a>
                        <a class="list-group-item {{ order == 'fecha' ? 'active' }}"
                                {% if provincia is defined and provincia %}
                           href="{{ path('spots_prov', {'deporte': deporte.nombre, 'provincia': provincia.nombre ,'order': 'fecha'}) }}">
                            {% else %}
                                href="{{ path('spots', {'deporte': deporte.nombre, 'order': 'fecha'}) }}">
                            {% endif %}
                            Recientes</a>
                    </div>
                </div>
                <div class="col-md-8 col-lg-9 py-4">
                    <div class="row d-flex align-items-center">
                        {% for spot in spots %}
                            {% if not loop.first %}
                                <hr class="bg-secondary">
                            {% endif %}
                            <div class="col-md-8 py-2">
                                <h5>
                                    <a class="text-decoration-none" href="{{ path('spot_view', {'id': spot.id}) }}">
                                        {{ spot.nombre }}
                                    </a>
                                </h5>
                                <small>Publicado el {{ spot.fecha | date('d/m/Y') }}</small>
                                <p>En {{ spot.provincia.nombre }} - por {{ spot.user.username }}</p>
                                <span class="text-warning">{{ spot.notaMedia | nota | raw }}</span>
                                ({{ spot.valoraciones.count }})
                            </div>
                            <div class="col-md-4 mb-2">
                                <div id="mapid_{{ spot.id }}"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% if provincia %}
                {% set url = path('spots_prov', {
                    'deporte': deporte.nombre, 'provincia': provincia.nombre, 'order': order
                }) %}
            {% else %}
                {% set url = path('spots', {'deporte': deporte.nombre, 'order': order}) %}
            {% endif %}
            {{ paginar(url, pagina, maxPaginas, true) }}
        {% else %}
            <p>No hay spots de {{ deporte.nombre }}
                registrados{% if provincia %} en {{ provincia.nombre }}{% endif %}, pero puedes añadir uno tú mismo:</p>
            {% if provincia is defined and provincia %}
                <a href="{{ path('dep_prov_spot_new', {'deporte': deporte.nombre, 'provincia': provincia.nombre}) }}"
            {% else %}
                <a href="{{ path('dep_spot_new', {'deporte': deporte.nombre}) }}"
            {% endif %}
            class="btn btn-primary my-2 w-100">
                <i class="fas fa-map-marker-alt"></i> Añadir nuevo spot
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    {% include 'spot/listado.js.twig' %}
{% endblock %}
