{% extends 'base.html.twig' %}

{% block title %}Nuevo Spot{% endblock %}

{% block stylesheets %}
    <style>
        *[readonly="readonly"] {
            pointer-events: none;
        }

        #mapid {
            height: 350px;
            z-index: 1;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container my-4">
        {% if editar is defined and editar %}
            <h2>Editar spot
        {% else %}
            <h2>Nuevo spot
        {% endif %}
        {% if deporte is defined and deporte %}
            de {{ deporte|capitalize }}
        {% endif %}
        </h2>

            {{ form_start(form) }}
            {{ form_row(form.nombre) }}
            <div class="row">
                <div class="col-lg-6">
                    {% if deporte is defined and deporte %}
                        {{ form_row(form.deporte, {'attr': {'readonly': true}}) }}
                    {% else %}
                        {{ form_row(form.deporte) }}
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    {% if provincia is defined and provincia %}
                        {{ form_row(form.provincia, {'attr': {'readonly': true}}) }}
                    {% else %}
                        {{ form_row(form.provincia) }}
                    {% endif %}
                </div>
            </div>
            {{ form_row(form.coord) }}

            <div id="mapid" class="my-2 border rounded "></div>

            <div class="float-end my-2">
                {{ form_row(form.enviar) }}
            </div>
            {{ form_end(form) }}

    </div>
{% endblock %}

{% block js %}
    {% include 'spot/nuevo.js.twig' %}
{% endblock %}
