{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/spot/ver.css') }}">
{% endblock %}

{% block title %}Spot{% endblock %}

{% block body %}
    <div class="container my-4">
        <p class="mb-2">
            <a class="text-decoration-none fw-bold" href="javascript:history.back()">
                <i class="fas fa-arrow-left"></i>
                Volver
            </a>
        </p>
        <h3>{{ spot.nombre }}</h3>
        <div id="rutas">
            <a href="{{ path('spots', {'deporte': spot.deporte.nombre}) }}">{{ spot.deporte.nombre | capitalize }}</a>
            ➝
            <a href="{{ path('spots_prov', {'deporte': spot.deporte.nombre, 'provincia': spot.provincia.nombre}) }}">
                {{ spot.provincia.nombre }}</a>
        </div>
        <div class="row">
            <div class="col-md-8 my-2">
                {% if spot.coord is not null %}
                    <div id="mapid" class="border rounded"></div>
                {% endif %}
            </div>

            <div class="col-md-4 rounded spotInfo text-light py-4 d-flex flex-column justify-content-between">
                <div>
                    <h6>Autor:</h6>
                    <h5 class="d-flex align-items-center">
                        <img src="{{ asset(spot.user.foto) }}" alt="Profile Picture"
                             class="rounded-circle me-2" id="userNavbar" width="40" height="40">
                        <span>{{ spot.user.username }}</span>
                    </h5>
                    <h6>Fecha:</h6>
                    <p>{{ spot.fecha | date('d/m/Y') }}</p>
                    <h6>Valoración:</h6>
                    <p><span class="text-warning">{{ spot.notaMedia | nota | raw }}</span>
                        ({{ spot.valoraciones.count }})</p>
                </div>
                <div>
                    {% if app.user and spot.aprobado and not spot.hasValoracion(app.user) %}
                        <a href="#comentar" class="btn btn-success my-1 w-100">Deja tu valoración</a>
                    {% endif %}
                    {% if app.user and (spot.user == app.user or app.user.admin) %}
                        <div class="my-1 d-flex">
                            <button type="button" class="btn btn-warning w-100 mx-1" data-bs-toggle="modal"
                                    data-bs-target="#modalEditarSpot">Editar
                            </button>
                            <button type="button" class="btn btn-danger w-100 mx-1" data-bs-toggle="modal"
                                    data-bs-target="#modalEliminarSpot">Eliminar
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if spot.valoraciones.count > 0 %}
            <hr>
            <h4 class="text-center">Comentarios</h4>
            {% for valoracion in spot.valoraciones %}
                <div class="mt-3 {{ loop.last ? '' : 'border-bottom' }}">
                    <div class="d-flex align-content-top">
                        <div class="d-inline-block">
                            <img src="{{ asset(valoracion.user.foto) }}" alt="Profile Picture"
                                 class="rounded-circle me-2" id="userNavbar" width="40" height="40">
                        </div>
                        <div class="d-inline-block">
                            <b>{{ valoracion.user.username }}</b>
                            <span class="text-secondary">{{ valoracion.fecha|date("d/m/y H:i") }}</span>
                            {% if app.user and (valoracion.user == app.user or app.user.admin) %}
                                <a class="ms-2" data-bs-toggle="modal" href="javascript:void(0)"
                                   data-bs-target="#modalEliminarValoracion_{{ valoracion.id }}">
                                    <i class="fas fa-times text-danger"></i>
                                </a>
                            {% endif %}
                            <p class="text-warning">{{ valoracion.nota | nota | raw }}</p>
                        </div>
                    </div>
                    <p>{{ valoracion.comentario }}</p>
                </div>
            {% endfor %}
        {% endif %}

        {% if spot.aprobado is null %}
            <div class="alert alert-info my-2">Spot pendiente de revisión.</div>
        {% elseif spot.aprobado %}
            {% if app.user and app.user.verified and not spot.hasValoracion(app.user) %}
                <hr>
                <form id="comentar" action="{{ path('comentar_spot', {'id': spot.id}) }}" method="post">
                    <input type="hidden" name="deporte" value="{{ deporte }}">
                    <label for="comentario" class="form-label">Comentar</label>
                    <textarea class="form-control" id="comentario" name="comentario" rows="2"
                              maxlength="255" placeholder="Estuve una vez aquí y ..."></textarea>
                    <p class="form-label">Nota</p>
                    {% include 'spot/valoracionEstrellas.html.twig' %}
                    <input type="submit" class="btn btn-primary fs-5 d-block my-3 ms-auto" value="Enviar">
                </form>
            {% endif %}
        {% else %}
            <div class="alert alert-danger my-2">
                <p>Lo sentimos, su spot ha sido rechazado.</p>
                {% if spot.revision %}
                    <p><b>Motivo:</b> {{ spot.revision }}</p>
                {% endif %}
            </div>
        {% endif %}
    </div>

    {# MODALES #}
    <div class="modal" id="modalEliminarSpot" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Spot</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de que desea eliminar el spot? Esta acción es irreversible.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" href="{{ path('spot_remove', {'id': spot.id}) }}">
                        Eliminar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modalEditarSpot" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Spot</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de que desea editar el spot? Si procede, éste volverá al estado pendiente de
                        revisión.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a class="btn btn-warning" href="{{ path('spot_edit', {'id': spot.id}) }}">
                        Editar</a>
                </div>
            </div>
        </div>
    </div>

    {% for valoracion in spot.valoraciones %}
        {% if app.user and (valoracion.user == app.user or app.user.admin) %}
            <div class="modal" id="modalEliminarValoracion_{{ valoracion.id }}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Eliminar Valoración</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro de que desea eliminar su valoración? Esta acción es irreversible.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a class="btn btn-danger" href="{{ path('valoracion_eliminar', {'id': valoracion.id}) }}">
                                Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block js %}
    {% if spot.coord is not null %}
        {% include 'spot/ver.js.twig' %}
    {% endif %}
{% endblock %}
