{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/spot/ver.css') }}">
{% endblock %}

{% block title %}Spot{% endblock %}

{% block body %}
    <div class="container my-4">
        <div class="row">
            <p class="mb-4">
                <a class="text-decoration-none" href="javascript:history.back()">
                    <i class="fas fa-arrow-left"></i>
                    Volver
                </a>
            </p>
            <h3>{{ spot.nombre }}</h3>
            <div id="rutas">
                <a href="{{ path('spots', {'deporte': spot.deporte.nombre}) }}">{{ spot.deporte.nombre | capitalize }}</a>
                ➝
                <a href="{{ path('spots_prov', {'deporte': spot.deporte.nombre, 'provincia': spot.provincia.nombre}) }}">
                    {{ spot.provincia.nombre }}</a>
            </div>
            <div class="col-lg-8 my-2">
                {% if spot.coord is not null %}
                    <div id="mapid" class="border rounded"></div>
                {% endif %}
            </div>

            <div class="col-lg-4 rounded bg-secondary">
                <div class="text-light my-4">
                    <h6>Autor:</h6>
                    <h5 class="d-flex align-items-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Picture"
                             class="rounded-circle me-2" id="userNavbar" width="40" height="40">
                        <span>{{ spot.user.username }}</span>
                    </h5>
                    <h6>Fecha:</h6>
                    <p>{{ spot.fecha | date('d/m/Y') }}</p>
                    <h6>Valoración:</h6>
                    <p><span class="text-warning">{{ spot.notaMedia | nota | raw }}</span>
                        ({{ spot.valoraciones.count }})</p>
                    <a href="#comentar" class="btn btn-success my-1 w-100">Deja un comentario</a>
                    {% if spot.user == app.user or app.user.admin %}
                        <div class="my-1 d-flex">
                            <a class="btn btn-warning w-100 mx-1" href="{{ path('spot_edit', {'id': spot.id}) }}">Editar</a>
                            <button type="button" class="btn btn-danger w-100 mx-1" data-bs-toggle="modal"
                                    data-bs-target="#modalEliminarSpot">Eliminar
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if spot.valoraciones.count > 0 %}
            <hr>
            <h4 class="text-center">Comentarios</h4>
            {% for valoracion in spot.valoraciones %}
                <div class="mt-3 {{ loop.last ? '' : 'border-bottom' }}">
                    <b>{{ valoracion.user.username }}</b>
                    <span class="text-secondary">{{ valoracion.fecha|date("d/m/y H:i") }}</span>
                    {% if valoracion.user == app.user or app.user.admin %}
                        <a class="ms-2" href="{{ path('valoracion_eliminar', {'id': valoracion.id}) }}">
                            <i class="fas fa-times text-danger"></i>
                        </a>
                    {% endif %}
                    <p class="text-warning">{{ valoracion.nota | nota | raw }}</p>
                    <p>{{ valoracion.comentario }}</p>
                </div>
            {% endfor %}
        {% endif %}

        {% if spot.aprobado is null %}
            <div class="alert alert-info">Spot pendiente de revisión.</div>
        {% elseif spot.aprobado %}
            {% if app.user and app.user.verified %}
                <hr>
                <form id="comentar" action="{{ path('comentar_spot', {'id': spot.id}) }}" method="post">
                    <input type="hidden" name="deporte" value="{{ deporte }}">
                    <div class="row">
                        <div class="col-md-10">
                            <label for="comentario" class="form-label">Comentar</label>
                            <textarea class="form-control" id="comentario" name="comentario" rows="3"
                                      maxlength="255"></textarea>
                        </div>
                        <div class="col-md-2">
                            <label for="nota" class="form-label">Nota</label>
                            <input type="number" id="nota" name="nota" class="form-control" value="0" min="0" max="10">
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary my-3" value="Enviar">
                </form>
            {% endif %}
        {% else %}
            <div class="alert alert-danger">
                <p>Lo sentimos, su spot ha sido rechazado.</p>
                {% if spot.revision %}
                    <p><b>Motivo:</b> {{ spot.revision }}</p>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <div class="modal" id="modalEliminarSpot" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Spot</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de que desea eliminar el spot? Esta acción es irreversible.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" href="{{ path('spot_remove', {'id': spot.id}) }}">
                        Eliminar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% if spot.coord is not null %}
        {% include 'spot/ver.js.twig' %}
    {% endif %}
{% endblock %}
