{% extends 'base.html.twig' %}

{% block title %}Spot{% endblock %}

{% block body %}
    <div class="container my-4">
        <h3>{{ spot.nombre }}</h3>
        {% if spot.valoraciones.count > 0 %}
            <ul>
                {% for valoracion in spot.valoraciones %}
                    <li>
                        <b>{{ valoracion.usuario.username }}:</b>
                        {{ valoracion.comentario }} -
                        {{ valoracion.fecha|date("d/m/y H:i") }}
                        ------------->
                        {% for i in range(0, 10) %}
                            {% if i <= valoracion.nota %}
                                {% if i > 0 %}
                                    {% if i % 2 == 0 %}
                                        <i class="fa fa-star"></i>
                                    {% elseif i == valoracion.nota %}
                                        <i class="fa fa-star-half-alt"></i>
                                    {% endif %}
                                {% endif %}
                            {% elseif i % 2 != 0 %}
                                <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}
                        ({{ valoracion.nota }})
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <a href="{{ path('spots', {'deporte': deporte}) }}" class="btn btn-link">Volver al listado</a>
    </div>
{% endblock %}
